TODD_API_KEY: dkowkdokOKDOWdkowdkfiuhdpasdl
TODD_AUTH_DOMAIN: kindred.firebaseapp.com
TODD_DATABASE_URL: https://kindred.firebaseio.com
TODD_PROJECT_ID: kindred
TODD_STORAGE_BUCKET: kindred.appspot.com
TODD_MESSAGING_SENDER_ID: kindred.appspot.com